@import url('https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto');
@font-face {
    font-family: 'DS-Digital';
    src: url('../fonts/DS-Digital/DS-Digital.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
body {
	counter-reset: count_bomb;
	font-family: 'Roboto', sans-serif;
}
#container{
	width:400px; 
	margin:0 auto;
	position: relative;	
	background-color: black;
	color:white;
	min-height: 75px;
}
h1, #rules_popup {
	width:100%;
	text-align: center;
}
/* top red counters */
.digital{
	position: absolute;
	top: 0;	
	height: 70px;
	width: 85px;
	background-color: black;
	color: red;
	font-family: "DS-Digital", sans-serif;
	text-align: center;
	border-color:#333;
	border-width:2px;
}
.digital#count_bomb{
	border-left-style: dotted;
	right: 0;
	font-size:75px;
	line-height: 70px;
}
.digital#count_level{
	border-right-style: dotted;
	font-size: 50px;
	left:0;
	line-height: 45px;
}
.digital#count_level div{
	font-size: 25px;
	line-height: 25px;
}

.icon {
	font-size:20px;
	vertical-align: middle;
}
#board {
	position:absolute;
	top:70px;
	width: 400px;
	height: 400px;
	clear:both;
}

/* stylize squares */
input.square { display: none; }
label.square {
	height:50px;
	width:50px;
	float:left;
/*	position:relative;*/
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
	border: 1px solid;
	border-color: #CCC #333 #333 #CCC;
}
label.square:not(.sq_bomb){ counter-increment: count_bomb; }
label.square:before{
	opacity: 0;
	font-size:35px;
	font-family:"Lucida Console", Monaco, monospace;
	text-align: center;
	display:block;
}
label.sq_zero:before{ content: ""; }
label.sq_bomb:before{ content: "\01F4A3"; z-index:100; }
label.sq_one:before{	content: "\31"; }
label.sq_two:before{ content: "\32"; }
label.sq_three:before{	content: "\33"; }

.square:checked + label.square{
	pointer-events: none; 
	border-style: inset;
	border-color: #D8D8D8 #D1D1D1 #BABABA;
	background-color: #d5d5d5;
}
.square:checked+label:before{
	opacity: 1;
	transition: opacity 1s;
} 

/* Show lose message */
.square:checked+.sq_bomb ~ .messages#lose{ display: block; }

/* Show rules message */
#rules_popup:hover + #board #rules{ display: block;}

/* Show win message */
/* 8x8 Board (54 siblings) */
.size8x8 .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .square:checked ~label:not(.sq_bomb) ~ .square:checked ~ label:not(.sq_bomb) ~ .messages#win{ display: block; }

input.square:checked + label.square:not(.sq_bomb){ counter-increment: count_bomb 0; }
#count_bomb::after{ content: counter(count_bomb); }

/* Stylize Messages */
.messages{ 
/*	display: none;*/
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.4);
	color:white;
	z-index:200;
}

.messages .text{
	min-height:150px;
	position:absolute;
	width:100%;
	top: 125px;
	padding:15px;
	font-size:14px;
  top: 50%;
  transform: translateY(-50%);
	text-align: justify
}
.messages .action{
	background-color: #f2f2f2;
	border: 1px solid #bfbfbf;
	border-radius: 3px;
	color: #8c8c8c;
	cursor: pointer;
	display: inline-block;
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	margin-top:10px;
	padding: 9px 16px 9px;
	text-decoration: none;
	
}
.messages .action:hover, .messages .action:focus {
	background: #f2f2f2;
	border-color: #8c8c8c;
	box-shadow: inset 0 1px 0 white, inset 0 -1px 0 #d9d9d9, inset 0 0 0 1px #f2f2f2;
	outline:none;
}
.messages .text strong{
	font-family: 'Poppins', sans-serif;
	font-size:20px;
	text-transform: uppercase;
}

.messages#lose .text{
	background: #8b0000;
}
.messages#win .text{
	background: #7BB900;
}
.messages#rules .text{
	background: #9951c0;
}

/* Face shown on messages*/
.face{
	position:absolute;
	top:30px;
	right:20px;
	background-color: yellow;
	width: 95px;
	height:95px;
	border-radius: 50%;
}
.face .brow{
	position:absolute;
	top:10px;
	left:15.5px;
	width:20px;
	height:20px;
	border-top:5px solid black;
	border-radius:100%;
	transform: rotate(-20deg);
	animation-name: faceBrow;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: normal;
}
.face .brow+.brow{ 
	left:45px;
	transform: rotate(20deg);
}
.face .eye{
	position:absolute;
	top:20px;
	left:15px;
	width:20px;
	height:30px;
	background-color: black;
	border-radius: 50%;
	z-index:10;
}
.face .eye+.eye{ 
	left:45px; 
}
.face .tear{
	position:absolute;
	top:38px;
	left:20px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid aqua;
	border-radius:50%;
	z-index:9;
	animation-name:faceCry;
	animation-duration:3.7s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: normal;
}
.face .tear+.tear{ 
	left:50px;
	animation-delay: 2.4s;
}
#lose .face .month{
	position:absolute;
	top:65px;
	left:20px;	
	width:50px;
	height:30px;
	border-top:5px solid red;
	border-radius:100%;
	animation: faceLipShake 5s infinite linear;
}
#win .face .month{
	position:absolute;
	top:50px;
	left:20px;	
	width:50px;
	height:30px;
	border-bottom:5px solid red;
	border-radius:100%;
}

@keyframes faceCry{
	0%{
		top:38px;
		opacity: 1;
	}
	30%{
		top:50px;
		opacity: 1;
	}
	50%{
		opacity: 1;
	}
	100%{
		top:90px;
		opacity: 0;
	}
}
@keyframes faceLipShake{
	0%{ top:65px; }
	1%{ top:67px; }
	2%{ top:65px; }
	3%{ top:67px; }
	4%{ top:65px; }
	5%{ top:67px; }
	100%{ top:67px; }
}
@keyframes faceBrow{
	0%{ top:10px; }
	1%{ top:8px; }
	4%{ top:10px; }
	7%{ top:8px; }
	10%{ top:10px; }
	100%{ top:10px; }
}